.canvas-container {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
}

.canvas-container img {
    position: relative;
    width: auto;
    max-width: 100%;
    align-self: center;
    flex: 0 0 auto;
    z-index: 1;
    /* background-color: rgba(253, 217, 120, 0.5); */
}

#canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.menu-context-container {
    width: 100%;
}