:root {
    --header-background-colour: #605542;
    --header-title-colour-h1: #80acaa;
    --header-title-colour-h2: #fdd978;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-colour);
    position: relative;
    padding: 10px 0 10px 0;
}

.header-title-h1 {
    padding: 0;
    margin: 0;
    color: var(--header-title-colour-h1);
    text-align: center;
}

.header-title-h2 {
    padding: 0;
    margin: 0;
    color: var(--header-title-colour-h2);
    text-align: center;
}