:root {
    --header-background-colour: #605542;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-colour);
}

.header-title {}